*{
    font-family: 'Yellowtail', cursive;
}
/* nav */
.name a{
    text-decoration: none;
    color:#2f3640;
    font-size: 25px;
    font-weight: 600;
}

.accimg{
    height: 20px;
}


/* form */
.field label{
    color: #2d3436;
    font-size: 18px;
}
.field input{
    border: 1px solid black;
    border-radius: 2px;
    width: 450px;
    font-size: 20px;
}

.field input:hover{
    border: 1px solid #3498db;
}


/* sm */
.sm a img {
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;

}

/* OR */
.or h4 { 
    display: flex; 
    flex-direction: row; 
} 

.or h4:before,.or h4:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid #000; 
    margin: auto; 
} 

/* sm */
footer{
    padding-top: 20px;
}

.sm span{
    color: #8395a7;
}
.sm a{
    padding: 5px;
    text-decoration: none;
}

.sm a img{
    height: 30px;
}

.accalready{
    float: right;
}

.accalready a{
    text-decoration: none;
}