
*{
    font-family: 'Yellowtail', cursive;
}
/* nav */
.name a{
    text-decoration: none;
    color:#2f3640;
    font-size: 25px;
    font-weight: 600;
}

.accimg{
    height: 20px;
}

/* crousel */
#imagescrou{
    padding: 10px;
}

/* card */
.cardpage img{
    height: 300px;
}

/* sm */
footer{
    padding-top: 20px;
}

.sm span{
    color: #8395a7;
}
.sm a{
    padding: 5px;
    text-decoration: none;
}

.sm a img{
    height: 30px;
}
